@import "../../style/variables.scss";
@import "../../style/mixin.scss";

.introduce {
  @include flexCenter;
  display: flex;
  flex-direction: column;

  .introduceBox {
    display: flex;
    flex-direction: column;
    padding: 15px;
    border: 1px solid $colorBlack;
    border-radius: 10px;

    .introduceImg {
      width: 200px;
      margin-bottom: 10px;
      border-radius: 10px;
    }
    .introduceName {
      width: 50px;
      @include textStyle(18px, bold);
      cursor: pointer;

      &:hover {
        color: $colorGreen;
      }
    }
    .introduceNum {
      margin-bottom: 5px;
    }
  }

  .colorList {
    ul {
      display: flex;
      justify-content: space-between;
      width: 520px;
      padding-top: 20px;

      .ColorBox {
        display: flex;
        flex-direction: column;
        padding: 10px;
        border: 1px solid $colorBlack;
        border-radius: 5px;

        .bgColor {
          @include colorsList;
          width: 100px;
          height: 110px;
          margin-bottom: 10px;
        }
        .colorName {
          @include textStyle(16px, bold);
        }
        .colorRgb {
          font-size: 14px;
        }
      }
    }
  }
}
