.introduce {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.introduceBox {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border: 1px solid #000;
  border-radius: 10px;
}
.introduceImg {
  width: 200px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.introduceName {
  font-weight: bold;
}
.introduceNum {
  font-size: 14px;
  margin-bottom: 5px;
}
