.count {
  display: flex;
  height: 36px;
  gap: 10px;

  &Input {
    display: flex;
    width: fit-content;
    height: 100%;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid black;
    border-radius: 8px;
    gap: 8px;
    box-sizing: border-box;

    &Text {
      display:flex;
      align-items: center;
      justify-content: center;
    }
  

    button {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }

    &Text {
      width: 40px;
      border: solid black;
      border-width: 0 1px;
      text-align: center;
    }
  }

  .resetBtn {
    width: 48px;
    height: 100%;
    border: 1px solid black;
    border-radius: 8px;
    background-color: transparent;
    cursor: pointer;
  }
}
