.color-box {
  border: 1px solid black;
  width: 250px;
  height: 200px;
  margin-right: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;

  .different-color {
    width: 120px;
    height: 120px;
  }

  .letter {
    display: flex;
    flex-direction: column;
  }
}
