@import "../../style/variables.scss";
@import "../../style/mixin.scss";

.colorcardItem {
  margin: 5px;
  padding: 10px;
  width: 120px;
  height: 160px;
  border: 1px solid $color-black;
  border-radius: 10px;
  box-sizing: border-box;

  .colorBox{
    margin:0 0 10px 0;
    width: 100px;
    height: 100px;
  }

  p {
    margin: 0;
    font-size: 12px;
    font-weight: 600;
  }
}

.red{
    background-color: rgb(255,0,0);
  }

.yellow{
  background-color: rgb(255, 255, 0);
}

.green{
  background-color: rgb(0, 128, 0);
}

.blue{
  background-color: rgb(0, 0, 255);
}
