@import "../../styles/variables";
@import "../../styles/mixin.scss";

.introduce {
  .profile {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile-box {
    width: 13vw;
    padding: 1em 0em 1em 1em;
    border: 1px solid grey;
    border-radius: 0.5em;
    box-shadow: 1px 2px 1px 1px;

    .profile-image {
      width: 90%;
      height: 20vh;
      border-radius: 0.25em;
    }

    .user-name {
      margin: 0 1px;
      margin-bottom: 2px;
      @include textStyle("user-name");
      &:hover {
        color: $green;
      }
    }

    .class-number {
      margin: 0 1px;
      @include textStyle("class-name");
    }
  }

  .profile-list {
    display: flex;
    margin-top: 3em;

    .profile-box {
      margin-right: 30px;
      width: 10vw;

      .box-color {
        justify-content: center;
        width: 90%;
        height: 18vh;
      }
    }
    .red {
      background-color: red;
    }

    .yellow {
      background-color: yellow;
    }

    .green {
      background-color: green;
    }

    .blue {
      background-color: blue;
    }
  }
}
