@import "../../style/variables.scss";
@import "../../style/mixin.scss";

.container {
  border: 2px solid yellowgreen;
  width: 250px;
  height: 320px;
  position: relative;
  top: 150px;
  left: 50%;
  transform: translate(-50%);
  border-radius: 5%;

  img {
    width: 200px;
    height: 200px;
    margin-left: 50%;
    margin-top: 15px;
    transform: translate(-50%);
    border-radius: 5%;
  }

  .content {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 10%;
  }

  #이경진 {
    font-weight: bold;
  }
  #기수 {
    font-size: 15px;
  }

  .search {
    width: 200px;
    margin-right: 0;
    margin-left: 10%;

    input {
      width: 150px;
    }
  }

  .link {
    margin-left: 10%;
    text-decoration: none;
    color: $black;

    &:hover {
      color: $green;
    }
  }
}
