* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Container {
    border : 1px solid black;
    border-radius: 10px;
    width : 100%;
    height : 100%;
    padding-bottom : 30px;
}

.ImgBox {
    width : 100%;
    height : 100%;
    display : flex;
    margin : 0 auto;
    padding-top : 40px;
}

.ImgBox > img {
    width : 90%;
    border-radius: 10px;
    margin : 0 auto;
}

.Profile{
    margin-top : 10px;
    margin-left : 50px;
}

.Profile > p {
    font-size : 20px;
    font-weight: 500;
}