.introduce {
    width: 100%;
    height: 100vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px 20px 20px 20px;
    border-radius: 5px;
    position: relative;
}


.main_img {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    border-radius: 5px;
}

.name {
    width: 100%;
    height: 10px;
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 15px;
    // background-color: yellow;
}

.group {
    width: 100%;
    height: 15px;
    font-size: 17px;
    text-align: left;
    margin-top: 13px;
    margin-bottom: 40px;
    // background-color: red;
}

.input_1 {
    position: absolute;
    left: 20px;
    bottom: 20px;
    margin-bottom: 20px;
}

.button_1 {
    position: absolute;
    bottom: 18px;
    right: 107px;
    margin-bottom: 20px;
}

// .product_1 {
//     position: absolute;
//     left: 10px;
// }