.Introduction {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  border: solid 2px;
  border-radius: 4px;
  width: 200px;
}

.informationcontainer {
  margin: 10px;
}
.ballimage {
  border-radius: 2px;
  width: 100%;
  height: 180px;
}
.letter {
  font-size: 20%;
}
.InputnButton {
  display: flex;

  height: 20px;
  width: 90%;
}

input {
  width: 75%;
  border-radius: 2px;
}

button {
  width: 25%;
  font-size: 5px;
  border-radius: 2px;
}
