@import '../../style/variables.scss';
@import '../../style/mixin.scss';




html {
  padding-top: 150px;
  padding-bottom: 700px;
  padding-left: 40%;
  padding-right: 30%;

  
.introduce {
  flex-direction: column;
}

  .fullline {
    padding-bottom: 10%;
    height: 550px;
    width: 400px;
    flex-direction: column;
    border: 3px solid #000;
    border-radius: 3%;
    @include flexCenter;

  
    .name {
      padding-right: 50%;
      &:hover{
        color:$primary-green;
      }
  
    }
  
    .year {
      padding-right: 60%;
    }
  
  
    .thumbnail {
      overflow: hidden;
      border-radius: 3%;
      height: 300px;
      width: 300px;
    }
  
  
    .Assignment2 {
      display: flex;
      padding-right: 20%;
    }
  
  
  }
  
  .move {
    padding-right: 35%;
  }
}


