.introduce {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  box-sizing: border-box;
}

.userProfileContainer {
  padding: 15px;
  border: 1px solid #000;
  border-radius: 6px;
}

.userProfileContainer img {
  width: 155px;
  height: 155px;

  border-radius: 6px;
}

.bottomWrapper {
  height: 60px;
}

.userProfileContainer > div {
  line-height: 2px;
}

.userProfileContainer > div p:first-child {
  font-weight: 900;
}

.userProfileContainer > div p:last-child {
  font-size: 0.7rem;
}

.userProfileContainer form {
  /* width: 150px;
  padding: 5px; */
  /* border: 1px solid #000; */
}

.userProfileContainer input {
  display: inline-block;
  width: 100px;
  height: 100%;
}

.userProfileContainer button {
  width: 50px;
  height: 100%;
  font-size: 0.65rem;
}
