* {
  box-sizing: border-box;
}

.p {
  margin: 50 0 0 0px;
  padding: 0;
}

.introduce {
  border: 1px solid black;
  width: 220px;
  height: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
}

img {
  align-items: center;
  width: 200px;
  height: 180px;
  border: 1px solid transparent;
  margin-top: 10px;
  border-radius: 10px;
}

.name {
  font-weight: bold;
  margin-top: 6px;
  padding-bottom: 0.5px;
  font-size: 16px;
}

.wrap {
  justify-content: center;
}

.number {
  font-size: 11px;
  padding-top: 0;
}

.textInput {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.button {
  width: 40px;
  height: 20px;
}

.input {
  width: 90px;
  height: 20px;
}
