@import "/src/style/variables.scss";
@import "/src/style/mixin.scss";

.introduce {
  @include flexcenter;
  margin-top: 300px;

  .introduceform {
    @include textStyle(13, 13px);
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
    height: 300px;
    width: 250px;
    font-weight: bold;
    margin-top: -500px;
    position: absolute;
    top: 70%;
    left: 43%;
  }

  .introduceimg {
    height: 200px;
    width: 200px;
    margin: auto;
    display: block;
    margin-top: 20px;
  }

  .info {
    margin-left: 20px;
  }

  .name {
    &:hover {
      color: green;
    }
  }
  .cards {
    display: flex;
    justify-content: center;
    margin-top: 200px;

    .colorcard {
      border: solid black;
      border-radius: 10px;
      margin: 10px;
      height: 300px;
      width: 250px;
      margin-left: 30px;
    }
    .colorcontainer {
      margin-top: 30px;
      text-align: center;
      font-weight: bold;
    }

    .color {
      margin: 10px auto;
      height: 200px;
      width: 200px;
    }
  }
  .red {
    background-color: red;
  }

  .yellow {
    background-color: yellow;
  }

  .green {
    background-color: green;
  }

  .blue {
    background-color: blue;
  }
}
