@import "../../style/variables.scss";
@import "../../style/mixin.scss";

.Introduce {
  display: flex;
  flex-direction: column;
  align-items: center;


  .introBox {
    margin-bottom: 20px;
    padding: 20px;
    width: 200px;
    height: 300px;
    border: 1px solid $color-black;
    border-radius: 10px;

    &> img {
      margin-bottom: 10px;
      width: 200px;
      height: 200px;
      border-radius: 5px;
    }

    &> h2 {
      margin: 0;
      width: 160px;
      @include textStyle (15px, 600);
      
      &:hover {
        color: $color-green;
      }
    }

    &> h3 {
      margin-bottom: 10px;
      width: 160px;
      font-size: 13px;
    }

    &> input {
      margin-right: 10px;
      width: 130px;
    }

    &> button {
    width: 50px;
    }
  }

  .colorCard {
    display: flex;
    flex-direction: row;
  }

}