@import "../../styles/variables";
@import "../../styles/mixin.scss";

.profile {
  width: 100vw;
  height: 100vh;
  @include flexCenter;
}

.profile-box {
  width: 13vw;
  padding: 1em 0em 1em 1em;
  border: 1px solid grey;
  border-radius: 0.5em;
  box-shadow: 1px 2px 1px 1px;
}

.profile-image {
  width: 90%;
  height: 20vh;
  border-radius: 0.25em;
}

.user-name {
  margin: 0 1px;
  margin-bottom: 2px;
  @include textStyle("user-name");
  &:hover {
    color: $green;
  }
}

.class-number {
  margin: 0 1px;
  @include textStyle("class-name");
}
