@import "../../style/variables.scss";
@import "../../style/mixin.scss";

.introduce {
  @include flexCenter;

  height: 100vh;

  .profileBox {
    padding: 30px;

    border-width: 1px;
    border-color: black;
    border-style: solid;

    background-color: white;

    .name {
      display: inline;
      @include textStyle(30px, bold);
      &:hover {
        color: $green;
      }
    }
  }
}
