

.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;

  &Detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1024px;
    padding: 24px 0;

    &Img {
      position: relative;

      img {
        align-self: center;
        justify-self: center;
        width: 600px;
        height: 100%;
        object-fit: cover;
      }
    
      .productColorSymbol {
        position: absolute;
        right: 10px;
        bottom: 10px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: double;
      }
    }
    

    &Info {
      display: flex;
      flex-direction: column;
      gap: 30px;
      padding: 40px;
      font-size: 20px;
      font-weight: 700;

      .title {
        margin-bottom: 20px;
        font-size: 80px;
        font-weight: 900;
      }

      .color {
        display: flex;
        flex-direction: column;
        gap: 10px;

        &Handler {
          display: flex;
          align-items: center;
          gap: 20px;
        }
      }

      .quantity {
        display: flex;
        align-items: center;
        gap: 10px;
      }

      .buyBtn {
        padding: 20px;
        border-radius: 20px;
        background-color: black;
        color: white;
        font-size: 18px;
        cursor: pointer;
      }
    }
  }

  .reviewList {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border-top: 1px solid lightgray;

    &Header {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 80px;
      background-color: #f4f6f8;
      span {
        width: 1024px;
        font-size: 24px;
        font-weight: bold;
      }
    }
  }
}
