@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
} 

@mixin nameText {
    font-size: 24px;
    font-weight: bold;
}

@mixin subText {
    font-size: 12px;
    color: lightgray;
}

@mixin miniName {
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    padding-right: 56px;
}