@import "../../style/variables.scss";
@import "../../style/mixin.scss";

.introduce {
  @include flexCenter;
  height: 100vh;
  display: flex;
  flex-direction: column;

  .box {
    display: flex;
    flex-direction: column;
    border: 1px solid $color-black;
    padding: 20px;
    border-radius: 10px;

    img {
      border-radius: 10px;
      margin-bottom: 10px;
    }

    .name {
      @include textStyle(16px, bold);
      margin-bottom: 5px;
      &:hover {
        color: $color-green;
      }
    }

    .session {
      @include textStyle(12px, normal);
    }

    .search {
      margin-top: 5px;
      display: flex;
      align-items: center;
    }
  }

  .colorBoxes {
    display: flex;
  }
}
