@import "../../style/variables.scss";

.introduce {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .box {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;

    img {
      border-radius: 10px;
      margin-bottom: 10px;
    }

    .name {
      font-weight: bold;
      margin-bottom: 5px;
      &:hover {
        color: $color-green;
      }
    }

    .session {
      font-size: 12px;
    }

    .search {
      margin-top: 5px;
      display: flex;
      align-items: center;
    }
  }
}
