@import "/src/style/mixin.scss";

.color {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &Text {
    display: flex;
    gap: 10px;
  }

  .selected {
    @include colors;
    width: 24px;
    height: 24px;
    border: 1px solid black;
  }
}
