.nav {
  position: absolute;
  top: 20px;
  right: 20px;

  .icon {
    padding: 10px;
    border: 2px solid palevioletred;
    border-radius: 10px;
    cursor: pointer;
  }

  .menuBox {
    position: absolute;
    top: 50px;
    right: 1px;
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 20px;
    padding: 20px;
    border: 2px solid palevioletred;
    border-radius: 10px;
    list-style: none;

    a {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
}
